<div class="footer">
    <div class="logo">
        <div>
            <img src="../../assets/logo.png" alt="">
        </div>
    </div>
    <div class="contact-info">
        <div>
            <a href="https://www.instagram.com/shabicode/">
                <img src="../../assets/instagram.png" alt="instagram">
            </a>
        </div>
        <div>
            <a href="https://github.com/ShabiCode">
                <img src="../../assets/github.png" alt="github">
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/monicode/">
                <img src="../../assets/linkedin.png" alt="linkedin">
            </a>
        </div>
    </div>
    <div></div>
</div>