<div class="container" >
    <div class="row">
        <mat-card class="card"> 
            <img mat-card-image src="../../assets/angular_logo.png" class="img-card">
            <br><br>
            <mat-card-header>𝑨𝒏𝒈𝒖𝒍𝒂𝒓</mat-card-header>
            <mat-card-actions>
                <button mat-button>❥ Go There !!!</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card"> 
            <img mat-card-image src="../../assets/Dot_Net.png" class="img-card">
            <mat-card-header>𝑫𝒐𝒕𝑵𝒆𝒕</mat-card-header>
            <mat-card-actions>
                <button mat-button>❥ Go There !!!</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card"> 
            <img mat-card-image src="../../assets/azure.png" class="img-card">
            <mat-card-header>𝑨𝒛𝒖𝒓𝒆</mat-card-header>
            <mat-card-actions>
                <button mat-button>❥ Go There !!!</button>
            </mat-card-actions>
        </mat-card> 
        <mat-card class="card"> 
            <img mat-card-image src="../../assets/microservicios.png" class="img-card">
            <mat-card-header>𝑴𝒊𝒄𝒓𝒐𝒔𝒆𝒓𝒗𝒊𝒄𝒆𝒔</mat-card-header>
            <mat-card-actions>
                <button mat-button>❥ Go There !!!</button>
            </mat-card-actions>
        </mat-card> 
        <mat-card class="card"> 
            <img mat-card-image src="../../assets/SSO.png" class="img-card">
            <mat-card-header>𝑺𝑺𝑶</mat-card-header>
            <mat-card-actions>
                <button mat-button>❥ Go There !!!</button>
            </mat-card-actions>
        </mat-card> 
    </div> 
</div> 